/* CSS Reset */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-family: "Nunito", sans-serif;
    background: url('/assets/Images/john-towner-JgOeRuGD_Y4-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 400px;
    min-height: 800px;
    height: 100%;
}

.container {
    width: 50%;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 28px;
    backdrop-filter: blur(50px);
    color: white;
    padding: 20px;
    margin: 20px;
    height: 800px;
}

.card img {
    height: 300px;
    width: 300px;
    margin: 20px;
    border-radius: 50%;
}

.card h1 {
    font-size: 3rem;
    font-weight: 100;
}

.bio p {
    font-weight: lighter;
    font-size: 1.2rem;
}

.links a {
    font-size: 2rem;
    color: grey;
    margin: 0px 10px;
    transition: .2s ease-in-out;
}

.links a:hover {
    color: white;
}

/* Responsive CSS for Tablet Display */
@media screen and (max-width:1200px) {
    body {
        height: 1400px;
        display: flex;
        justify-content: center;
        align-self: center;
    }

    .container {
        width: 100%;
        height: 800px;
    }

    .card {
        height: 600px;
    }
}

/* Responsive CSS for mobile design */
@media screen and (max-width:800px) {

    body {
        height: 1000px;
    }

    .container {
        width: 100%;
    }

    .card img {
        height: 200px;
        width: 200px;
        margin: 20px;
        border-radius: 50%;
    }

    .card h1 {
        font-size: 1.4rem;
        font-weight: 100;
    }
}